body{
    background-color: black;
    color: white;
}

#logo{
    width: 300px;
    height: 100px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;   
}
#navbar-left{
    flex: 1;
}
#navbar-center{
    flex:2;
    text-align: center;
}
#navbar-center form{
    width: 100%;    
}
#navbar-center form fieldset{
    display: flex;
    justify-content: right;
    width: auto;
}
fieldset{
    border: black;
}
#navbar-center form {
    display: flex;
}
#navbar-center form #form-left{
    flex: 9; /* Ocupa el 90% del espacio */
    max-width: 90%; /* Limita el ancho máximo al 90% */
}
#navbar-center form input[type="text"]{
    width: 100%;
}
#navbar-center form #form-right{
    flex: 1;
    max-width: 10%;
}
#navbar-right{
    flex:1;    
    
}
#navbar-right a{
    text-decoration: none;
    color: white;
}
hr{
    border: 0;
    height: 0.5px;
    background-color: white;
}
#ads{
    display: flex;    
    flex-direction: column;
}
#ads div{
    flex: 1;
}
#ads #top{
    display: flex;
}
#ads #bottom{
    display: flex;
    justify-content: end;
}
#ads a, #ads p{
    line-height: 1.2; /* Ajusta el interlineado, puedes cambiar el valor */
    margin: 0; /* Elimina el margen vertical */
    padding: 0; /* Elimina cualquier padding adicional */
}

#perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#perfil #enlaces{
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#secciones-perfil{
    display: flex;
    flex-direction: row;
}
#columna-galeria{
    display: flex;
    flex-direction: column;
}
#columna-galeria .img-galeria{
    width: 100px;
}
#columna-principal{

}
#columna-amigos{

}